
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src={{ url_for('static',filename='favicon.ico') }}  width="30" height="30" class="d-inline-block align-top" alt="">
      Fake News Detection
    </a>
  </nav>

<div class="container mt-3">
  <div class="col-md">
    <div class="card">
      <div class="card-header col-md">Fake News Scanner</div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="form-group col">
              <label >Link</label>
              <input type="url" class="form-control"  placeholder="Link">
            </div>
          </div>

          <div class="form-row">
            <div class="input-group mb-3 col">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Subject</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose subject...</option>
                <option value="1">Politique</option>
                <option value="2">Sport</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label >Content</label>
              <textarea  style="width:100%; height:350px; " class="form-control"  placeholder="Check Text"></textarea>
            </div>
          </div>
          <button type="button" class="btn btn-success">Predict</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>